html, body{font-family:Verdana, Geneva, Tahoma, sans-serif ;}

table, tbody,tr,td{
    min-width: 200px;
 }
.header {
    text-align: center;
}
.header > h3 {
    color:firebrick
}
.header > img {
    width: 300px;
    height: auto;
}